/** rem and em do not depend on html font-size in media queries, 1rem = 1rem = 16px (default browser's font-size)
*/

/* 
 ? ****************
  ^ BELOW 1344px (small monitors < 1345px)
 ? ****************
*/

/* * try to implement a breakpoint every 200 to 400 px */

/* 1350 / 16 = 84.375 ≃ 84 */
/* 1344 / 16 = 84 */

/* First breakpoint: 1344px */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
}

/* 
 ? ****************
  ^ BELOW 1200px (landscape tablets < 1201px)
 ? ****************
*/

@media (max-width: 75em) {
  html {
    /* 9px / 16px */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 8rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }

  .testimonial blockquote {
    line-height: 1.4;
  }
}

/* 
 ? ****************
  ^ BELOW 960px (tablets < 961px)
 ? ****************
*/

@media (max-width: 60em) {
  html {
    /* 8px / 16px */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: auto;
    padding: 0 12.8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 2.4rem;
  }

  .btn-mobile--nav {
    display: block;
    z-index: 999;
    /* to make sure the button is always on top of menu layout */
    /* the focus state is always active for this btn */
  }

  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* or 100vw */
    height: 100vh;
    transform: translateX(100%);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;
    /* 
    ease-in: slow in the beginning fast in the end ≠ ease-out
    */
    /* display: none; */
    /* display: none => no transitions 😕 */
    /* By default:
    /*~ mobile-nav--open is absent */
    /* *1. hide element visually */
    opacity: 0;
    /* *2. undetectable by mouse or keyboard */
    pointer-events: none;
    /* *3. hide element from screen readers */
    visibility: hidden;
  }

  /*~ mobile-nav--open is present */
  .mobile-nav--open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .mobile-nav--open .icon-mobile--nav[name="close-outline"] {
    display: block;
  }

  .mobile-nav--open .icon-mobile--nav[name="menu-outline"] {
    display: none; /* no animation needed */
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/* 
 ? ****************
  ^ BELOW 784px (Smaller tablets < 785px)
 ? ****************
*/

@media (max-width: 49em) {
  .grid-3-cols,
  .grid-4-cols {
    grid-template-columns: 1fr 1fr;
  }

  .diet-list {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .btn:link,
  .btn:visited {
    font-size: 1.8rem;
  }

  .pricing-plan {
    width: 100%;
  }

  .heading-secondary {
    font-size: 3rem;
    margin-bottom: 4.8rem;
  }

  .heading-tertiary {
    font-size: 2rem;
  }

  .logos img {
    height: 2rem;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .nav-col {
    grid-row: 1;
  }

  .nav-col {
    grid-column: span 2;
  }

  .contact-col,
  .logo-col {
    grid-column: span 3;
  }
}

/* 
 ? ****************
  ^ BELOW 576px (Phones < 577px)
 ? ****************
*/

@media (max-width: 36rem) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid-2-cols,
  .grid-3-cols,
  .grid-4-cols,
  .testimonials {
    grid-template-columns: 1fr;
  }

  .section-how {
    padding: 4.8rem 0;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 4.8rem;
  }

  .btn:link,
  .btn:visited {
    padding: 1.6rem;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .pricing-plan,
  .meal {
    width: 75%;
    justify-self: center;
  }

  .step-img-box:nth-child(3) {
    grid-row: 4 / 5;
  }

  .testimonial-container {
    padding: 4.8rem 3.2rem;
  }

  .section-meals {
    padding: 4.8rem 0;
  }

  .logos img {
    height: 1.8rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }

  .cta-text-box .heading-secondary {
    margin-bottom: 2.4rem;
  }

  .cta-text {
    margin-bottom: 2.4rem;
    line-height: 1.4;
  }

  .footer-link:link,
  .footer-link:visited {
    font-size: 1.4rem;
  }

  .footer-heading {
    font-size: 1.6rem;
  }

  .footer-logo .logo {
    height: 1.8rem;
  }

  .logos img {
    height: 1.2rem;
  }
}

/* TODO: Some headings and whiteSpaces are missing minor adjustments */

/* 
  * TYPOGRAPHY SYSTEM
    - FONT SIZES (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    - FONT WEIGHTS (px)
      default: 400
      Medium: 500
      Semi-bold: 600
      Bold: 700

    - LINE HEIGHTS (px)
      default 1
      small 1.05
      medium: 1.2
      paragraph default 1.6

  * BORDER_RADIUS
    default: 9px
  * WHITESPACE
    - SPACING (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
