/* 
  * TYPOGRAPHY SYSTEM
    - FONT SIZES (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    - FONT WEIGHTS (px)
      default: 400

    - LINE HEIGHTS (px)
      default: 1

  * COLORS
    - Primary: #e67e22
    - Tints:
    - Shades:
    - Accents:
    - Greys: #333 

  * IMAGES:
    - https://unsplash.com
    - https://uifaces.co

  * SHADOWS

  * BORDER_RADIUS
  
  * WHITESPACE
    - SPACING (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* now: 1rem => 10px */
  /* 
    but this may cause a huge usability problem when user changes his
    browser's default font size (16px)
  */
  font-size: 62.5%;
  /* 10px / 16px = 0.625 = 62.5% (of the current browser font size)  */
  /* +++ Responsiveness */
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #333;
}

.test {
  max-width: 1000px;
  /* 
  if the container width is greater than the specified max-width
  then the width of the element will be equal to the max-width
  else the element's width will be equal to 100% of the container's width
  */
  background-color: red;
  padding: 6.4rem;
}
